* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

body {
  background-image: url("./assets/2210_w015_n003_1011b_p15_1011.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cursor {
  position: absolute;
  height: 70px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
  transition: 0.3s transform ease;
  transform-origin: 100% 100%;
}

button {
  color:#F4FFF8 ;
  border: 2px solid #F4FFF8;
  border-radius: 5px;
  background: transparent;
  padding: 15px 45px;
  font-size: 1.1rem;
  margin-top: 3rem;
  outline: none;
  cursor: none;
  width: 200px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.score-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bauble {
  position: absolute;
  height: 100px;
  z-index: 2;
  transform: translate(-50%, -50%);
  transform-origin: 25px 25px;
  transition: all 0.1s ease-in-out;
}

.burglar {
  height: 100px;
  transform: translate(-50%, -50%);
}

img::selection {
  background: transparent;
}

#bauble-launcher {
  position: absolute;
  bottom: 0;
}

