* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
  height: 100%;
  overflow: hidden;
}

/* Introduction Screen Styling */

.introduction {
    background-image: url('./assets/img-splash-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.centered-image {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: 400px;
}

#image1 {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards; 
}

#image2 {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-delay: 1.5s;
  top: 54%;
  left: 63%;
}

@keyframes zoomIn {
  from {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
  }
  to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
  }
}

.falling-card {
  position: absolute;
  width: 100px;  
  height: 60px; 
  background-image: url('./assets/img-bonuscard.png');
  background-size: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotateY(10deg) rotateX(10deg); 
  top: -100px;
  animation: fall linear infinite;
  animation-delay: 2.5s;
}

#card1 { animation-duration: 4s; right: 10%; }
#card2 { animation-duration: 3.3s; right: 20%; }
#card3 { animation-duration: 3s; right: 30%; }
#card4 { animation-duration: 4.2s; right: 40%; }
#card5 { animation-duration: 3.7s; right: 50%; }
#card6 { animation-duration: 4.6s; right: 60%; }
#card7 { animation-duration: 3s; right: 70%; }
#card8 { animation-duration: 3.6s; right: 80%; }


@keyframes fall {
  0% { top: -100px; }
  100% { top: 100vh; } 
}

.fading-blinking-image {
  position: absolute;
  top: 80%;
  left: 63%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInAndBlink 5s infinite;
  animation-delay: 3s;
  height: 50px;
}

@keyframes fadeInAndBlink {
  0%, 100% {
      opacity: 0;
  }
  10%, 30%, 50%, 70%, 90% {
      opacity: 1;
  }
  20%, 40%, 60%, 80% {
      opacity: 0;
  }
}

/* Game Styling */
.game {
  background-image: url("./assets/2210_w015_n003_1011b_p15_1011.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  position: absolute;
  height: 70px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 3;
  transition: 0.3s transform ease;
  transform-origin: 100% 100%;
}

.start-button {
  color:#F4FFF8 ;
  border: 2px solid #F4FFF8;
  border-radius: 5px;
  background: transparent;
  padding: 15px 45px;
  font-size: 1.1rem;
  margin-top: 2.2rem;
  outline: none;
  cursor: none;
  width: 200px;
  height: 70px;
}

.info-container {
  display: flex;
  gap: 15px;
  margin-bottom: 1rem;

}

.score-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F4FFF8;
  height: 70px;
  width: 200px;
  margin-top: 2.2rem;
  border-radius: 5px;
  color: #F4FFF8;
  font-size: 1.1rem;
}

.timer-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F4FFF8;
  height: 70px;
  width: 200px;
  margin-top: 2.2rem;
  border-radius: 5px;
  color: #F4FFF8;
  font-size: 1.1rem;
}

#timer {
  margin: 0;
  display: flex;
  align-items: center;
}

.bauble {
  position: absolute;
  height: 100px;
  transform: translate(-50%, -50%);
  transform-origin: 25px 25px;
  transition: all 0.3s ease-in-out;
}

.burglar {
  height: 100px;
  transform: translate(-50%, -50%);
}

img::selection {
  background: transparent;
}

.bauble-launcher {
  position: fixed;
  bottom: -150px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  align-items: flex-end;
  height: 300px;
  width: 300px;
}

.present {
  position: relative;
  height: 300px;
  padding: 20px 30px;
  left: 50px;
}
 
@keyframes bounceIn {
  0% { transform: scale(0.2) translateY(50px); opacity: 0; }
  50% { transform: scale(1.1) translateY(0); opacity: 1; }
  100% { transform: scale(1) translateY(0); opacity: 1; }
}

@keyframes bounceOut {
  0% { transform: scale(1) translateY(0); opacity: 1; }
  50% { transform: scale(1.1) translateY(0); opacity: 1; }
  100% { transform: scale(0.2) translateY(50px); opacity: 0; }
}

.star.bounce-in {
  display: block;
  visibility: visible; /* Make the div visible */
  opacity: 1; /* Set full opacity */
  animation: bounceIn 0.5s ease forwards;
}
.scoreboard {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 400px;
  background: url('assets/scoreboard.png') no-repeat;
  background-size: 60%;
}

.scoreboard .start-button {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 110px;
  left: 150px;
  border: 0;
  padding: 0;
}

.scoreboard-score {
  position: absolute;
  top: 102px;
  left: 110px;
  font-size: 20px;
}

.scoreboard-score,
.timer-display,
.timer-display span {
  font-family: 'Lilita One', sans-serif;
  font-weight: bold;
  color: #fff;
}

.timer-display {
  position: absolute;
  top: 103px;
  left: 20px;
  border: 0;
  width: 110px;
}

.scoreboard-stars {
  position: absolute;
  width: 180px;
  height: 55px;
  top: 35px;
  left: 30px;
}

.star {
  position: absolute;
  background: url('./assets/star.png') no-repeat;
  background-size: 100%;
  width: 45px;
  height: 55px;
}

.star1 {
  display: none;
  top: 4px;
  left: 9px;
}

.star2 {
  display: none;
  left: 67px;
  top: 4px;
}

.star3 {
  display: none;
  top: 4px;
  left: 125px;
}
