* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
  height: 100%;
}

/* Introduction Screen Styling */

.introduction {
    background-image: url('./assets/img-splash-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.centered-image {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: 400px;
}

#image1 {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards; 
}

#image2 {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-delay: 1.5s;
  top: 54%;
  left: 63%;
}

@keyframes zoomIn {
  from {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
  }
  to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
  }
}

.falling-card {
  position: absolute;
  width: 100px;  
  height: 60px; 
  background-image: url('./assets/img-bonuscard.png');
  background-size: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotateY(10deg) rotateX(10deg); 
  top: -100px;
  animation: fall linear infinite;
  animation-delay: 2.5s;
}

#card1 { animation-duration: 4s; right: 10%; }
#card2 { animation-duration: 3.3s; right: 20%; }
#card3 { animation-duration: 3s; right: 30%; }
#card4 { animation-duration: 4.2s; right: 40%; }
#card5 { animation-duration: 3.7s; right: 50%; }
#card6 { animation-duration: 4.6s; right: 60%; }
#card7 { animation-duration: 3s; right: 70%; }
#card8 { animation-duration: 3.6s; right: 80%; }


@keyframes fall {
  0% { top: -100px; }
  100% { top: 100vh; } 
}

.fading-blinking-image {
  position: absolute;
  top: 80%;
  left: 63%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInAndBlink 5s infinite;
  animation-delay: 3s;
  height: 50px;
}

@keyframes fadeInAndBlink {
  0%, 100% {
      opacity: 0;
  }
  10%, 30%, 50%, 70%, 90% {
      opacity: 1;
  }
  20%, 40%, 60%, 80% {
      opacity: 0;
  }
}


/* Game Styling */
.game {
  background-image: url("./assets/2210_w015_n003_1011b_p15_1011.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  position: absolute;
  height: 70px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
  transition: 0.3s transform ease;
  transform-origin: 100% 100%;
}

.start-button {
  color:#F4FFF8 ;
  border: 2px solid #F4FFF8;
  border-radius: 5px;
  background: transparent;
  padding: 15px 45px;
  font-size: 1.1rem;
  margin-top: 2.2rem;
  outline: none;
  cursor: none;
  width: 200px;
  height: 70px;
}

.button-and-score {
  display: flex;
  gap: 15px;
  margin-bottom: 1rem;
}

.score-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F4FFF8;
  height: 70px;
  width: 200px;
  margin-top: 2.2rem;
  border-radius: 5px;
  color: #F4FFF8;
  font-size: 1.1rem;
}

.bauble {
  position: absolute;
  height: 100px;
  z-index: 2;
  transform: translate(-50%, -50%);
  transform-origin: 25px 25px;
  transition: all 0.2s ease-in-out;
}

.burglar {
  height: 100px;
  transform: translate(-50%, -50%);
}

img::selection {
  background: transparent;
}

